<?xml version="1.0"?>
<robot name="ugv_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <xacro:macro name="downward_camera">
    
    <xacro:include filename="$(find quadrotor_uav_description)/urdf/downward_camera/camera.gazebo.xacro" />

    <joint name="uav_base_camera_joint" type="fixed">
      <origin xyz="0.0 0.0 -0.15" rpy="0 ${PI/2} 0" />
      <parent link="base_link"/>
      <child  link="downward_camera_link" />
    </joint>

    <link name="downward_camera_link">
        
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.05 0.03 0.03" />
          </geometry>
          <material name="black">
            <color rgba="0.0 0.0 0.0 1.0"/>
          </material>
        </visual>
        
    </link>

    <!-- generate an optical frame http://www.ros.org/reps/rep-0103.html#suffix-frames
      so that ros and opencv can operate on the camera frame correctly -->
    <joint name="camera_optical_joint" type="fixed">
        <!-- these values have to be these values otherwise the gazebo camera image
            won't be aligned properly with the frame it is supposedly originating from -->
        <origin xyz="0 0 0" rpy="${-PI/2} 0 ${-PI/2}"/>
        <parent link="downward_camera_link"/>
        <child link="camera_link_optical"/>
    </joint>

    <link name="camera_link_optical">
    </link>

  </xacro:macro>

</robot>
